### <font color=yellow> The line of code you've provided appears to be using the pandas library in Python, specifically working with categorical data.</font>

#### <font color=yellow> Explanation:</font>

1. <font color=#f5b042>Pandas Categorical Data: In pandas, categorical data are a type of data that can take on one of a limited, and usually fixed, number of possible values (categories). Examples include gender, social class, blood type, country affiliation, observation time or ratings via Likert scales.</font>

1. <font color=#f5b042>The cat Accessor: In the code, s.cat is used. Here, s is presumably a pandas Series. When you have a Series with categorical data, you can access special categorical methods by using .cat. This is similar to how you use .str for string methods on a Series of strings.</font>

1. <font color=#f5b042>reorder_categories() Method: The reorder_categories() method is used to reorder the categories of a categorical variable. This does not change the values, but only how they are ordered within the categorical scheme.</font>

1. <font color=#f5b042>Categories List: ['xs', 's', 'm', 'l', 'xl'] is the new order of categories. This means that 'xs' will be considered the 'smallest' or 'first' category, and 'xl' will be considered the 'largest' or 'last'.</font>

1. <font color=#f5b042> 1. ordered=True: This argument specifies that the categorical variable is ordered. An ordered categorical is one where the order of the categories carries meaning. For example, in sizes like 'xs', 's', 'm', 'l', 'xl', the order is meaningful ('xs' is smaller than 's', and so on).</font>

****<font color=red>In summary, this line of code is taking a pandas Series s that contains categorical data, and reordering its categories to follow the order 'xs', 's', 'm', 'l', 'xl', and setting these categories as ordered. This can be particularly useful when you need to perform operations that depend on the order of the categories, such as sorting or comparisons.</font>****

# <font color=yellow>Series of fahrenheit temperatures</font>
## Purpose

* <font color=#f5b042>Create a list of fahrenheit temperatures</font>
* <font color=#f5b042>Calculate the mean of the temperatures</font>


### <font color=red>Find which all temperatures that are greater than the mean temperature.</font>

In [1]:
def convert_to_clesius ( fahrenheit_temperature:float) -> float :
    return (fahrenheit_temperature - 32) * (5 / 9)
clesius = convert_to_clesius(212)
clesius

100.0

In [2]:
def convert_to_fahrenheit (celcsius_temperature:float) -> float :
    return (celcsius_temperature * 9/5) + 32
fahrenheit = convert_to_fahrenheit(100)
fahrenheit

212.0

String function to capitalize each word

In [3]:
name = 'peter'
name.title()

'Peter'

pathlib

In [ ]:
from pathlib import Path
Path(r'V:\OCCAMFromEC3\ExportedVirtualMachines\Windows 10 Pro\Virtual Machines')
str(Path(r'V:\OCCAMFromEC3\ExportedVirtualMachines\Windows 10 Pro\Virtual Machines'))

In [4]:
import pandas as pd
import numpy as np
from pathlib import Path
pd.__version__
pd.read_csv("ecommerce.csv")

      ID order_date delivery_date
0      1    5/24/98        2/5/99
1      2    4/22/92        3/6/98
2      4    2/10/91       8/26/92
3      5    7/21/92      11/20/97
4      7     9/2/93       6/10/98
..   ...        ...           ...
496  990    6/24/91        2/2/96
497  991     9/9/91       3/30/98
498  993   11/16/90       4/27/98
499  994     6/3/93       6/13/93
500  997     1/4/90       10/3/91

[501 rows x 3 columns]