
# <font color=yellow>****Introduction  to Jupyter notebooks****</font>

In [49]:
import pandas as pd
import numpy as np
from pathlib import Path
pd.__version__
pd.read_csv("ecommerce.csv")

      ID order_date delivery_date
0      1    5/24/98        2/5/99
1      2    4/22/92        3/6/98
2      4    2/10/91       8/26/92
3      5    7/21/92      11/20/97
4      7     9/2/93       6/10/98
..   ...        ...           ...
496  990    6/24/91        2/2/96
497  991     9/9/91       3/30/98
498  993   11/16/90       4/27/98
499  994     6/3/93       6/13/93
500  997     1/4/90       10/3/91

[501 rows x 3 columns]

In [13]:
from pathlib import Path
Path(r'V:\OCCAMFromEC3\ExportedVirtualMachines\Windows 10 Pro\Virtual Machines')
str(Path(r'V:\OCCAMFromEC3\ExportedVirtualMachines\Windows 10 Pro\Virtual Machines'))

'V:\\OCCAMFromEC3\\ExportedVirtualMachines\\Windows 10 Pro\\Virtual Machines'

In [28]:
def convert_to_fahrenheit (celcsius_temperature:float) -> float :
    return (celcsius_temperature * 9/5) + 32
fahrenheit = convert_to_fahrenheit(100)
fahrenheit

212.0

In [32]:
def convert_to_clesius ( fahrenheit_temperature:float) -> float :
    return (fahrenheit_temperature - 32) * (5 / 9)
clesius = convert_to_clesius(212)
clesius

100.0

In [33]:
name = 'peter'
name.title()

'Peter'

In [90]:
from datetime import date

def create_calendar_year_quarter (orderdate:str = '2024-01-16') -> str :
    """_summary_

    Args:
        orderdate (str, optional): _description_. Defaults to '2024-01-16'.

    Returns:
        str: _description_
    """
    yyyymmdd = date.fromisoformat(orderdate)
    mm = "0" + str(yyyymmdd.month) if (yyyymmdd.month < 10) else str(month)
    yyyy = str(yyyymmdd.year)
    
    if   (1 <= yyyymmdd.month and yyyymmdd.month <= 3 ) : return ("Calendar year: "+ yyyy+": Quarter I")
    elif (4 <= yyyymmdd.month and yyyymmdd.month <= 6 ) : return ("Calendar year: "+ yyyy+": Quarter II")
    elif (7 <= yyyymmdd.month and yyyymmdd.month <= 9 ) : return ("Calendar year: "+ yyyy+": Quarter III")
    elif (10 <= yyyymmdd.month and yyyymmdd.month <= 12 ) : return ("Calendar year: "+ yyyy+": Quarter IV")

create_calendar_year_quarter('2024-02-16')
create_calendar_year_quarter('2024-05-16')
create_calendar_year_quarter('2024-08-16')
create_calendar_year_quarter('2024-11-16')
create_calendar_year_quarter('20241116')

'Calendar year: 2024: Quarter IV'

In [84]:
from datetime import date,datetime

def create_fiscal_year_quarter (orderdate:str = '2024-01-16') -> str :
    """
    
    Args:
        orderdate (str, optional): _description_. Defaults to '2024-01-16'.

    Returns:
        str: _description_
    """     
    
    yyyymmdd = date.fromisoformat(orderdate)
    #yyyymmdd = datetime.datetime.strptime(orderdate, '%Y-%m-%d')
    
    mm = "0" + str(yyyymmdd.month) if (yyyymmdd.month < 10) else str(yyyymmdd.month)
    yyyy = str(yyyymmdd.year+1) if (7 <= yyyymmdd.year and yyyymmdd.year <= 12) else str(yyyymmdd.year)
    
    if   (7 <= yyyymmdd.month and yyyymmdd.month <= 9 ) : return ("Fiscal year: "+ yyyy+": Quarter I")
    elif (10 <= yyyymmdd.month and yyyymmdd.month <= 12 ) : return ("Fiscal year: "+ yyyy+": Quarter II")
    elif (1 <= yyyymmdd.month and yyyymmdd.month <= 3 ) : return ("Fiscal year: "+ yyyy+": Quarter III")
    elif (4 <= yyyymmdd.month and yyyymmdd.month <= 6 ) : return ("Fiscal year: "+ yyyy+": Quarter IV")

create_fiscal_year_quarter('2024-07-28')
create_fiscal_year_quarter('2024-10-28')
create_fiscal_year_quarter('2025-02-28')
create_fiscal_year_quarter('2025-05-28')

'Fiscal year: 2025: Quarter IV'

In [89]:
import datetime

orderdate = '23-08-4'
def get_month_and_year(orderdate) -> int :
# Create a datetime object from the string date
    yyyymmdd = datetime.datetime.strptime(orderdate, '%y-%m-%d')
    mm = yyyymmdd.month
    yyyy = yyyymmdd.year
    return mm,yyyy
a,b = get_month_and_year(orderdate)
print(f'MM: {a} and YYYY: {b}')

MM: 8 and YYYY: 2023

In [8]:
from datetime import date,datetime
def get_month_and_year(orderdate) -> int :
    
# Create a datetime object from the string date
    yyyymmdd = datetime.datetime.strptime(orderdate, '%y-%m-%d')
    mm:int = yyyymmdd.month
    yyyy:int = yyyymmdd.year
    return mm,yyyy

In [7]:


def create_fiscal_year_quarter (orderdate:str = '2024-01-16') -> str :
    
    month,year = get_month_and_year(orderdate)
       
    mm = "0" + str(month) if (month < 10) else str(month)
    year = str(year+1) if (7 <= year and year <= 12) else str(year)

    if   (7 <= month and month <= 9 ) : return ("Fiscal year: "+ year +": Quarter I")
    elif (10 <= month and month <= 12 ) : return ("Fiscal year: "+ year +": Quarter II")
    elif (1 <= month and month <= 3 ) : return ("Fiscal year: "+ year +": Quarter III")
    elif (4 <= month and month <= 6 ) : return ("Fiscal year: "+ year +": Quarter IV")

create_fiscal_year_quarter('2025-05-28')

AttributeError: type object 'datetime.datetime' has no attribute 'datetime'